body
{
	margin: 0;
	background-color: #E9EBEE;
	color: 	#000000;
	font-family: 'Poiret One', serif;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1
{
	font-size: calc(40px + (70 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: bold;
	text-align: center;
	letter-spacing:  5px;
	margin-bottom:0px;
	margin-top:10px;
}

h2{
	font-size: calc(17px + (30 - 17) * ((100vw - 300px) / (1600 - 300)));
	text-align: center;
	letter-spacing:  1px;
	margin-bottom:0px;
	margin-top:2px;
}

h3{
	font-size: calc(11px + (24 - 11) * ((100vw - 300px) / (1600 - 300)));
	text-align: center;
	letter-spacing:  1px;
	margin-top:2px;
}

p
{
	font-weight: bold;
	text-align: center;
	letter-spacing:  2px;
	margin-bottom:25px;
	margin-top:5px;
}
.accountButton
{
	background-color: #E9EBEE;
	border: 1px solid #747474;
	filter: brightness(95%);
	border-radius: 10px;
	color: black;
}

.accountButton:hover
{
	filter: brightness(100%);
	border: 1px solid #c3c5c8;
}

.mainContainer
{
	max-width: 800px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
}

.day-slider{
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	/*border: 1px solid black;*/
}

.day-slider .day-wrapper{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 80%;
	/*border: 1px dashed black;*/
	overflow: hidden;
}

.day-slider .day-wrapper .day{
	color: black;
	display: inline-block;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(90%);
}

.day-slider .day-wrapper .day:hover
{
	filter: brightness(95%);
	background-color: #535353;
	color: white;
}

.dayN, .dayNb, .month{
	width:100%;
	font-size: 20px;
}


.day-slider #next{
	position: absolute;
	top: 50%;
	right: 4%;
}


.day-slider #prev{
	position: absolute;
	top: 50%;
	left: 4%;
}

.invisible{
	display: none;
}


